#main{
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-rows: auto;
    margin: 2% 10% 2% 7%;
  }
  #word-textbox{
    width: 400px;
    
  }

#headerText{
  text-align:center;
}
#ibox{
    padding: 70px 0;
}

body{
      background-color: rgba(45, 41, 41, 0.62);
  }

  #root{
    background:white;
    position:absolute;
    color:#000;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }